@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Oswald:wght@300;600&family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Permanent+Marker&display=swap');


:root{
    --main-color: #8a1515;
}

html{
    height: 100%;
}

body{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    color: white;
    background-color: #1e1e1e;
    margin: 0;
}

#main-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    position: sticky;
    top: 0;
    display: flex;
    background-color: #343434;
    padding: 20px;
    z-index: 2;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
}

#logo{
    height: 30px;
    margin-bottom: 10px;
}


nav a{
    color: #de0000;
    text-decoration: none;
    padding: 10px;
}

nav a:hover{
    color: #ff3131;
}

#log-btn{
    margin-left: auto;
    margin-right: 0;
}

#log-btn svg{
    width: 30px;
    height: 30px;
}

#main-title{
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
}

footer{
    position: relative;
    top: 0;
    background-color: #343434;
    width: 100%;
    text-align: center;
    padding: 5px;
}

footer p{
    transform: translateY(25%);
}

.card{
    color: black;
    cursor: pointer;
    transition: 0.4s;
}

.vertical{
    min-height: 555px;
}

.vertical:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px 0 black;
    z-index: 1;
}

.card-img-top{
    width: auto;
    height: auto;
}

.card-title{
    margin-bottom: 3px;
}


.card-text{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


#movies-wrapper{
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 20px;
}

#search-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#search-bar{
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    height: 60px;
}

#search-input{
    width: 50%;
    padding: 15px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 20px;
}

#search-input:focus{
    outline:none !important;
    border: 1px solid #860000;
    box-shadow: 0 0 10px #860000;
}

#search-btn{
    position: relative;
    left: -5px;
    width: 50px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown{
    margin-left: 90px;
}

.dropdown button{
    background-color: #1e1e1e;
    border: none;
    border-radius: 0;
}

.dropdown button:hover{
    background-color: #1e1e1e;
    border: none;
}

.dropdown button:focus{
    background-color: #1e1e1e;
    border: none;
}

.dropdown-item{
    cursor: pointer;
}

/********************************************MOVIE PAGE**************************************************/

#movie-presentation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}

#movie-description{
    width: 60%;
}

#poster{
    box-shadow: 10px 10px 5px #111111;
    height: auto;
}

#poster img{
    height: 420px;
    width: 310px;
}

#title{
    font-weight: bold;
}

#comments{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#add-comment-form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

#comment-area{
    width: 100%;
    background-color: #343434;
    color: white;
    border: #343434;
    height: 100px;
    resize: none;
}

#add-comment-form input{
    width: 100%;
    background-color: #343434;
    color: white;
    border: #343434;
    padding: 5px;
}

h3{
    margin-left: 7.5%;
}

label{
    margin-top:20px;
}


#user-infos{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100%;
    justify-content: space-between;
}

.btn-main{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #a6a6a6;
    border: none;
    background-color: #4b4b4b;
    width: 200px;
    letter-spacing: 0.1em;
    padding: 10px;
}

.btn-main:hover{
    color: white;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
}

.small-input{
    width: 49%;
}

.comment{
    width: 70%;
    margin: 50px auto;
}

.comment-header{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: baseline;
}

.nickname{
    font-weight: bold;
    font-size: 20px;
}

.date{
    color: #b6b6b6;
}

#date{
    font-size: 25px;
}

.form-error{
    color: red;
    text-align: center;
}

.input-error{
    box-shadow: 0 0 5px 1px #c40000, inset 0 0 10px #c40000;
}

/*********************************************LOGIN PAGE*********************************************************/
#login-form{
    width: 300px;
    height: auto;
    background: rgba(255, 255, 255, 0.9);
    margin: auto;
    border-radius: 10px;
    animation: slideUp 1s;
}

@keyframes slideUp{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


legend{
    text-align: center;
}

fieldset{
    padding: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

fieldset input{
    padding: 10px;
    background: #b64141;
    border: none;
    color: white;
}

fieldset input::placeholder{
    color: white;
}

#login-form-btn{
    border: none;
    background-color: #212121;
    color: #ffffff;
    letter-spacing: 0.1em;
    padding: 5px;
    border-radius: 20px;
}

.login-error{
    position: relative;
    top: 150px;
    right: 0;
    left: 0;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.9);
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
}

.red-block{
    background: var(--main-color);
    width: 20%;
    display: flex;
}

.red-block img{
    width: 60%;
    height: auto;
    margin:auto;
}

.input-img{
    display: flex;
    flex-direction: row;
}
#username, #password{
    width: 100%;
}

#user-circle{
    width: 100px;
    height: auto;
    margin-top: -60px;
    margin-left: calc(50% - 50px);

}

.login-page{
    background: url('images/bg3.jpg')center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*************************************ADD MOVIE PAGE******************************************/
.create-form{
    width: 50%;
    min-height: 100%;
    padding: 0 50px;
    background: var(--main-color);
    box-shadow: 10px 5px 5px #0e0e0e;
}

.create-form input, textarea{
    background: #1e1e1e;
    color: white;
    border: none;
    width: 100%;
}

.create-form textarea{
    height: 200px;
    resize: none;
}

.create-form input::placeholder, textarea::placeholder{
    color: #b2b2b2;
}
.create-form input[type=date]::-webkit-datetime-edit-fields-wrapper{
    color: #b2b2b2;
}

.create-form input[type=date]::-webkit-calendar-picker-indicator{
    filter: invert(1);
}

.create-form input[type=file]::-webkit-file-upload-button{
    background: #ab0101;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.create-form button{
    background: #1e1e1e;
}

#add-movie-page{
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

#card-preview{
    margin: 150px auto;
    height: 528px;
    box-shadow: 0 0 20px black;
    cursor: initial;
}

.creation-error{
    font-size: 20px;
    margin-bottom: -30px;
}

#word-count{
    align-self: flex-end;
}

.add-btn{
    align-self: flex-end;
}

/*********************************************ELEMENTS*************************************************/
.edit-btn{
    border: none;
    border-radius: 3px;
    background: var(--main-color);
    color: white;
    transition: 0.4s;
}

.edit-btn:hover{
    background: #ff0000
}

#update-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete-btn{
    width: 60%;
    color:var(--main-color) !important;
}

.confirm{
    color: #00ff20;
    text-align: center;
    font-size: 20px;
}

.pagination{
    margin: 10px auto;
}

.page-link{
    color: #ff0000;
}

.page-link:hover{
    color: black;
}

.pagination li a.active{
    background: var(--main-color);
}

.page-item.active .page-link{
    background-color: var(--main-color);
    border-color:var(--main-color);
}

/******************************************INDEX**********************************************************/

.index{
    background: radial-gradient(#2d2d2d 10%, #111111 100%);
}

#recently-added{
    position: absolute;
    right: 0;
    width: 20%;
    display: grid;
    background: #111111;
    border-left: 0.1em solid var(--main-color);
    justify-content: center;
    height: 100%;
}

#recently-added .card{
    height: 100px;
    width: auto;
}

#diaporama{
    position: relative;
    margin: 0 10% 30px 10%;
    height: 400px;
    width: 60%;
}

#diaporama-header{
    width: 60%;
    margin: 30px 10% 0 10%;
    background: linear-gradient(to right,rgba(138, 21, 21, 0.8) 20%, #210000 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 30px;
    padding: 10px 10px 10px 50px;
    font-family: 'Oswald', sans-serif;
    height: 65px;
}


.diaporama-card{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.img-fluid{
    height: 100%;
    width: auto;
}

.row{
    height: 100%;
    padding: 0 80px 0 0;
    overflow: hidden;
    line-height: 1.4;
}

.col-md-4{
    height: 100%;
}

#index-form{
    height: 100%;
    width: 100%;
}

#previous-btn, #next-btn{
    position: absolute;
    top: calc(400px/2 + 65px);
    color: white;
    height: 50px;
    width: 20px;
    cursor: pointer;
    opacity: 0.7;
    z-index: 0;
}
#previous-btn:hover, #next-btn:hover{
    opacity: 1;
}

#previous-btn{
    left:10%;
}

#next-btn{
    left: 70%;
    transform: translateX(-250%);
}

#previous-btn img, #next-btn img{
    width: 50px;
    height: auto;
}

.horizontal-card-text{
    display: -webkit-box;
    -webkit-line-clamp: 14;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
}

.hidden{
    display: none;
}

.poster-card{
    position: relative;
    height: 250px;
    width: auto;
    cursor: pointer;
}

.poster-card img{
    height: 250px;
    width: auto;
}

.title-overlay{
    position: absolute;
    bottom: 0;
    color: white;
    font-weight: bolder;
    background: linear-gradient(to top, black 70%, transparent 100%);
    width: 100%;
    text-align: center;
}


.card-visible:hover + .hidden{
    display: initial;
    color: white;
}

.extra{
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 1;
}

.extra:hover{
    display: initial;
}

.title-hidden{
    font-size: 15px;
    font-weight: bold;
    background: #8a1515;
    padding: 0 5px;
}

.date-hidden{
    font-size: 12px;
    background: #343434;
    padding: 0 5px;
    font-style: oblique 20deg;
}

.synopsis-hidden{
    background: #1e1e1e;
    font-size: 12px;
    overflow: hidden;
    padding: 0 5px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

}

.div-title{
    text-align: center;
    margin-top: 20px;
}

.div-title a{
    text-decoration: none;
    color: white;
    font-family: 'Permanent Marker', sans-serif;
}

.sidebar-title{
}

#best-rated{
    display :flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;

}

#best-rated-wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
}

#best-rated-wrapper .div-title{
    background: var(--main-color);
    padding: 10px;
}

@media screen and (max-width: 950px){
    #recently-added{
        display: none;
    }
    #best-rated-wrapper{
        width: 100%;
    }
    #diaporama-header, #diaporama{
        width: 80%;
    }
    #next-btn{
        left: 90%;
    }
}

/********************************** STAR RATING **********************************************************/

.gold{
    color: gold;
}

.grey{
    color: grey;
}

#rating-display{
    padding-bottom: 10px;
    font-size: 20px;
}

.title-rating-horizontal{
    margin-bottom: 5px;
}

.title-rating{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.editable.active ~ .editable::before{
    color: grey;
}

.rating:hover, .editable::before{
    color: gold;
}

.editable:hover ~ .editable::before{
    color: grey;
}

.rating{
    display: flex;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.star-input{
    display: none;
}

i{
    z-index: 1;
}

.comment-rating{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    column-gap: 10px;
}